$darkBlueColor : #122c91;
$blueColor : #2a6fbd;
$greenBlueColor : #48d6d2;
$firozehiColor : #81e9e6;
$khakiColor : #fefcbf;

// globals.scss : Background-color: greenBlueColor / color: darkBlueColor
