@import 'colors';
.container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: $khakiColor;
  }
  .image {
    margin-top: 10px;
    border-radius: 10px;
    align-self: center;
    width: 90%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .header {
    margin: 40px 20px 20px;
    font-size: 1.5rem;
  }

  .details {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 18px;
    padding: 10px 20px;
    margin: 15px 0;
  }

  .details div {
    display: flex;
    align-items: baseline;
    margin: 15px 0;
  }

  .details span {
    color: $blueColor;
    margin-left: auto;
  }

  .details p {
    margin-left: 10px;
  }

  .descriptionTitle {
    margin: 15px 0;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .descriptionText {
    color: gray;
    text-align: justify;
    margin-bottom: 10px;
  }

  .details .price {
    display: flex;
    align-items: center;
  }

  .price p,
  .price span {
    font-size: 1.5rem;
  }

  .button {
    width: 90%;
    align-self: center;
    background-color: $firozehiColor;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    margin: 50px 0;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .container {
      margin: 0 15px;
    }
  }
